body {
  background-size: cover;
  background-image: url("gpb.jpg");
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  font-weight: 700;
}

#output {
  background-color: rgb(226, 89, 89);
  border-radius: 10px;
  border-top: 10px solid #44aa4d;
  padding: 10px;
  float: none;
  text-align: left;
}

span {
  font-size: 18px;
  color: rgb(246, 247, 250);
}
